<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BrodieHomeTheatre.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BrodieTheatre.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <BrodieHomeTheatre.Properties.Settings>
      <setting name="startMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harmonyHubIP" serializeAs="String">
        <value />
      </setting>
      <setting name="textToSpeechLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="SmartSpeaker" serializeAs="String">
        <value />
      </setting>
      <setting name="potsPausedLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="potsAddress" serializeAs="String">
        <value />
      </setting>
    </BrodieHomeTheatre.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <BrodieTheatre.Properties.Settings>
      <setting name="startMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harmonyHubIP" serializeAs="String">
        <value>10.0.0.142</value>
      </setting>
      <setting name="textToSpeechLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="SmartSpeaker" serializeAs="String">
        <value />
      </setting>
      <setting name="potsPausedLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="potsAddress" serializeAs="String">
        <value>42.22.B8</value>
      </setting>
      <setting name="trayAddress" serializeAs="String">
        <value>42.20.F8</value>
      </setting>
      <setting name="plmPort" serializeAs="String">
        <value />
      </setting>
      <setting name="trayPausedLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="trayStoppedLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="potsStoppedLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="trayEnteringLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="potsEnteringLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="globalShutdown" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="projectorPort" serializeAs="String">
        <value />
      </setting>
      <setting name="motionSensorAddress" serializeAs="String">
        <value>41.66.88</value>
      </setting>
      <setting name="kodiJSONPort" serializeAs="String">
        <value>9090</value>
      </setting>
      <setting name="kodiIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="doorSensorAddress" serializeAs="String">
        <value>41.58.FC</value>
      </setting>
      <setting name="insteonMotionLatch" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="lightingDelayProjectorOn" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fanAddress" serializeAs="String">
        <value>47.01.AC</value>
      </setting>
      <setting name="fanDelayOff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="webServerPort" serializeAs="String">
        <value>8001</value>
      </setting>
      <setting name="googleCloudCredentialsJSON" serializeAs="String">
        <value />
      </setting>
      <setting name="webServerAuthToken" serializeAs="String">
        <value>MyAuthTokenSharedWith_IFTTT_Applet</value>
      </setting>
      <setting name="potsPlaybackLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="trayPlaybackLevel" serializeAs="String">
        <value>0</value>
      </setting>
    </BrodieTheatre.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.2.0" newVersion="1.40.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.2.0" newVersion="1.40.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>